<!doctype html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
    {% endblock %}
    {% block style %}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename="style/colors.css") }}">
         <link rel="stylesheet" href="{{ url_for('static', filename="style/general.css") }}">
    {% endblock %}
    {% block js %}
    {% endblock %}
    {% block title %}
    <title>Apico Web</title>
    {% endblock %}
</head>
<body>
<!-- bodyheader -->
<header>
{% block bodyheader %}
    {% include "header.html" %}
{% endblock %}
</header>

<!-- bodymain -->
{% block bodymain %}
    <!-- bodymain default -->
    <p>This is the default page - not to be seen.</p>
{% endblock %}

<!-- bodyfooter -->
<footer>
{% block bodyfooter %}
    {% include "footer.html" %}
{% endblock %}
</footer>
</body>
</html>