{% extends 'base.html' %}

{% block bodymain %}

    <p class="rgba-secondary-2-0">On entend souvent que les abeilles sont essentielles pour la reproduction des plantes,
        voire même la survie de l’humanité. En effet les insectes sont nécessaire à 80% des plantes cultivées,
        et 80% de cette pollinisation est due aux abeilles.
        Leur disparition pourrait donc entraîner une catastrophe environnementale, alimentaire et économique sans précédent.</p>

<p class="rgba-secondary-2-0">En 2014 une étude estime de l’université de Reading, au Royaume-Uni concluait qu’il manquait 13,4 millions de colonies d’abeilles en Europe.
    Ce déficit est liés à plusieurs raisons. Premièrement ces dernières années les besoins en pollinisation ont augmentés,
    notamment avec l’augmentation des surfaces cultivables dédiées aux biocarburants.
    De plus la population d’abeilles domestique a chuté de 25% en Europe entre 1985 et 2005.</p>

<p class="rgba-secondary-2-0">Les causes de leur déclin sont multiples: dérèglement climatique, parasites, maladies, traitements phytosanitaires…
    Il en résulte donc une diminution de la production de miel et une augmentation des importations.</p>

{% endblock %}